ShaderProject/Logs/shadercompiler-UnityShaderCompiler.exe3.log
ShaderProject/Logs/shadercompiler-UnityShaderCompiler.exe2.log
ShaderProject/Logs/shadercompiler-UnityShaderCompiler.exe15.log
ShaderProject/Logs/shadercompiler-UnityShaderCompiler.exe14.log
ShaderProject/Logs/shadercompiler-UnityShaderCompiler.exe13.log
ShaderProject/Logs/shadercompiler-UnityShaderCompiler.exe12.log
ShaderProject/Logs/shadercompiler-UnityShaderCompiler.exe11.log
ShaderProject/Logs/shadercompiler-UnityShaderCompiler.exe10.log
ShaderProject/Logs/shadercompiler-UnityShaderCompiler.exe1.log
ShaderProject/Logs/shadercompiler-UnityShaderCompiler.exe0.log
ShaderProject/Logs/shadercompiler-AssetImportWorker0.log
ShaderProject/Logs/AssetImportWorker0.log
ShaderProject/Logs/AssetImportWorker0-prev.log
ShaderProject/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
ShaderProject/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
ShaderProject/Library/SourceAssetDB
ShaderProject/Library/ShaderCache/f/f67f3ac9ff6d82b8c40bb592723ee897.bin
ShaderProject/Library/ShaderCache/f/f63bd51dd7ccb74ac007b351e5f7e863.bin
ShaderProject/Library/ShaderCache/f/f56abb1869391cf55f94bb8e42b6a9ec.bin
